/* start golobal rules */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
/* end global rules  */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}
/* start media query  */
@media (max-width: 767px) {
  .container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .container {
    width: 730px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1199px) {
  .container {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* end media query  */
/* start  header  -----------------------------------------------------------------------------------------*/
header {
  position: relative;
  z-index: 50;
  padding-block: 10px;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
header .container > a {
  display: inline-block;
}
header .container > a img {
  width: 80px;
}
header .container nav input {
  appearance: none;
}
header .container nav label i {
  font-size: 2em;
  cursor: pointer;
}
header .container nav input:checked ~ ul {
  display: block;
}
header .container nav ul {
  list-style: none;
  padding-left: 0px;
  position: absolute;
  margin: 0em;
  top: 100%;
  right: 0%;
  display: none;
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
}
header .container nav ul li {
  background-color: #eee;
  padding: 10px 15px;
  text-align: center;
  position: relative;
}
header .container nav ul li::before {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 0%;
  height: 2px;
  background-color: black;
  transition: 0.4s all ease;
  -webkit-transition: 0.4s all ease;
  -moz-transition: 0.4s all ease;
  -ms-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
}
header .container nav ul li:hover::before {
  width: 100%;
}
header .container nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  color: black;
}
/* end  of header  ------------------------------------------------------------------------------------------*/
/* start  landing  section ------------------------------------------------------------------------------- */
.landing {
  background: url(../images/landing.jpg) no-repeat;
  background-size: cover;
  height: 90vh;
}
.landing .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.landing .container .top-section {
  text-align: center;
}
.landing .container .top-section .text h1 {
  font-size: 3.5em;
  color: #10cab7;
  text-transform: capitalize;
}
.landing .container .top-section .text p {
  font-size: 20px;
  text-transform: capitalize;
}
.landing .container .bottom-section {
  width: 100%;
  padding: 30px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: space-evenly;
}
.landing .container .bottom-section div i {
  font-size: 2.5em;
  color: #10cab7;
  margin: 20px 0;
}
.landing .container .bottom-section div h3 {
  text-transform: capitalize;
  font-size: 20px;
  margin: 20px 0;
}
.landing .container .bottom-section div p {
  font-size: 15px;
  line-height: 1.6;
}
@media (max-width: 768px) {
  .landing {
    height: auto;
    margin-bottom: 0em;
  }
  .landing .container {
    padding-block: 1em;
  }
  .landing .container .top-section .text h1 {
    font-size: 2em;
  }
  .landing .container .top-section .text p {
    padding-left: 0px;
    font-size: 15px;
  }
  .landing .container .bottom-section {
    padding: 5px 0px;
    flex-direction: column;
  }
  .landing .container .bottom-section > div {
    width: 100%;
    text-align: center;
  }
  .landing .container .bottom-section div i {
    font-size: 1.5em;
    margin: 5px 0;
  }
  .landing .container .bottom-section div h3 {
    font-size: 15px;
    margin: 10px 0;
  }
  .landing .container .bottom-section div p {
    padding-left: 0px;
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .landing {
    height: auto;
    margin-bottom: 2em;
  }
  .landing .container {
    padding-block: 1em;
  }
  .landing .container .bottom-section {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
  }
  .landing .container .bottom-section > div {
    width: 48%;
    text-align: center;
  }
  .landing .container .bottom-section div i {
    font-size: 2em;
    margin: 5px 0;
  }
  .landing .container .bottom-section div h3 {
    margin: 10px 0px;
  }
  .landing .container .bottom-section div p {
    font-size: 12px;
    line-height: 1.2;
    padding-left: 0px;
  }
}
/* end  section landing -------------------------------------------------------------------------------- */
/* start section service  */
.service {
  width: 100%;
  height: auto;
  margin: auto;
}
.service .container {
  height: 100%;
  padding-block: 5em;
}
.service header {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto 80px;
  line-height: 0.7;
  z-index: 4;
  text-align: center;
}
.service header h2 {
  width: 100%;
  font-size: 7em;
  margin-block: 0em;
  color: #ebeced;
  text-shadow: 0px 0px 0.2px black;
}
.service header p {
  font-size: 25px;
  margin: 0 0;
  color: #797979;
}
.main-section {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.main-section .main-article {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 65%;
}
.main-section .main-article article {
  width: calc((100% - 120px) / 2);
  height: calc((100% - 60px) / 2);
  margin: 15px 30px;
}
.main-section aside {
  width: 35%;
  position: relative;
}
.main-section aside img {
  width: 60%;
  height: 90%;
  position: relative;
  left: 100px;
  object-fit: cover;
}
.service .main-section .img::before {
  content: "";
  position: absolute;
  top: -10%;
  right: 5%;
  width: 20%;
  height: 110%;
  background-color: #2c4755;
}
.service .container .main-section .main-article .wrapper {
  display: flex;
}
.service .container .main-section .main-article .wrapper i {
  margin-right: 25px;
  margin-top: 25px;
  font-size: 30px;
  color: #10cab7;
}
.service .container .main-section .main-article .wrapper h3 {
  text-transform: capitalize;
}
.service .container .main-section .main-article .wrapper p {
  color: #444;
}
@media (max-width: 767px) {
  .service .container {
    padding-block: 1em;
  }
  .service header {
    margin-bottom: 0px;
  }
  .service header h2 {
    font-size: 4em;
  }
  .service header p {
    font-size: 15px;
  }
  .service .container .main-section {
    flex-direction: column;
  }
  .service .container .main-section .main-article {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .service .container .main-section .main-article .wrapper {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 15px 0px;
  }
  .service .container .main-section .main-article .wrapper p {
    padding-left: 0px;
  }
  .service .container .main-section aside {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .service .container {
    padding-block: 0em;
  }
  .service header {
    margin-bottom: 20px;
  }
  .service header h2 {
    font-size: 5em;
  }
  .main-section .main-article {
    width: 100%;
  }
  .main-section aside {
    display: none;
  }
  .service .container .main-section .main-article .wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .service .container .main-section .main-article .wrapper i {
    margin-right: 0px;
    margin-top: 0px;
  }
}
/* end  section  service  */
/* start section portfolio  */
.portfolio {
  width: 100%;
  height: auto;
  background-color: #f6f6f6;
}
.portfolio .container {
  height: 100%;
  padding-block: 2em;
  display: flex;
  flex-direction: column;
}
.portfolio .container header {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto 50px;
  line-height: 0.7;
  z-index: 4;
  text-align: center;
}
.portfolio .container header h2 {
  width: 100%;
  font-size: 7em;
  margin-block: 0em;
  color: #ebeced;
  text-shadow: 0px 0px 0.2px black;
}
.portfolio .container header p {
  font-size: 25px;
  margin: 0 0;
  color: #797979;
}
.portfolio .container .main-section {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.portfolio .container .main-section .parent {
  background-color: white;
}
.portfolio .container .main-section .parent img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}
.portfolio .container .main-section .parent h3 {
  text-transform: capitalize;
  font-weight: bold;
  padding-left: 20px;
}
.portfolio .container .main-section .parent p {
  padding-left: 20px;
}
@media (max-width: 767px) {
  .portfolio .container header {
    margin-bottom: 20px;
  }
  .portfolio .container header h2 {
    font-size: 4em;
  }
  .portfolio .container header p {
    font-size: 15px;
  }
  .portfolio .container .main-section {
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .portfolio .container header {
    margin-bottom: 20px;
  }
  .portfolio .container header h2 {
    font-size: 5em;
  }
  .portfolio .container .main-section {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .portfolio .container .main-section .parent {
    width: 48%;
  }
}
/* end portfolio section  */
/* start  about  section  */
.about {
  width: 100%;
  height: auto;
}
.about .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-block: 2em;
}
.about .container header {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto 50px;
  line-height: 0.7;
  z-index: 4;
  text-align: center;
}
.about .container header h2 {
  width: 100%;
  font-size: 7em;
  margin-block: 0em;
  color: #ebeced;
  text-shadow: 0px 0px 0.2px black;
}
.about .container header p {
  font-size: 25px;
  margin: 0 0;
  color: #797979;
}
.about section {
  display: flex;
  justify-content: space-between;
}
.about section aside {
  width: 30%;
}
.about section aside div {
  width: 80%;
  margin-inline: auto;
  position: relative;
}
.about section aside div::before {
  content: "";
  width: 25%;
  height: 110%;
  background-color: #ebeced;
  position: absolute;
  top: -20px;
  left: 77px;
}
.about section aside div::after {
  content: "";
  width: 25%;
  height: 110%;
  background-color: #10cab7;
  position: absolute;
  top: -20px;
  right: -40px;
  z-index: -2;
}
.about section aside div img {
  width: 70%;
  height: 90%;
}
.about section article {
  width: 60%;
}
.about section article div p {
  width: 100%;
  line-height: 1.6;
}
.about section article div:first-of-type {
  font-weight: bold;
}
.about section article .about-line {
  width: 30%;
  margin-left: 20px;
  border-bottom: 2px solid #41d5c6;
  border-top: 2px solid #3c928a;
}
@media (max-width: 991px) {
  .about .container header {
    margin-bottom: 20px;
  }
  .about .container header h2 {
    font-size: 4em;
  }
  .about .container header p {
    font-size: 15px;
  }
  .about section {
    flex-direction: column;
  }
  .about section aside {
    width: 100%;
  }
  .about section article {
    width: 100%;
  }
  .about section aside div {
    width: 100%;
    text-align: center;
  }
  .main-section aside img {
    left: 0px;
  }
  .about section aside div::before {
    display: none;
  }
  .about section aside div::after {
    display: none;
  }
  .about section article .about-line {
    width: 80%;
    margin-left: 0px;
  }
  .about section aside div img {
    width: 60%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .about .container header {
    margin-bottom: 20px;
  }
  .about .container header h2 {
    font-size: 5em;
  }
  .about .container section aside {
    display: block;
  }
  .about section aside div img {
    width: 40%;
  }
}
/* end about  section  */
/* start contact section  */
.contact {
  width: 100%;
  height: auto;
  background-color: #f6f6f6;
}
.contact .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-block: 2em;
}
.contact .container header {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto 50px;
  line-height: 0.7;
  z-index: 4;
  text-align: center;
}
.contact .container header h2 {
  width: 100%;
  font-size: 7em;
  margin-block: 0em;
  color: #ebeced;
  text-shadow: 0px 0px 0.2px black;
}
.contact .container header p {
  font-size: 25px;
  margin: 0 0;
  color: #797979;
}
.contact .main-section {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 100%;
  align-items: center;
}
.contact .main-section .feel-free {
  color: #2c4755;
  font-size: 2em;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: -2px;
  margin: 15px auto 5px;
}
.contact .main-section div a {
  color: #10cab7;
  text-decoration: none;
  font-size: 2em;
  font-weight: bolder;
  text-transform: capitalize;
  letter-spacing: -2px;
  margin: 0px auto 15px;
}
.contact .main-section .p-social {
  text-transform: capitalize;
  display: inline-block;
}
.contact .main-section i {
  margin: 15px 5px;
  color: #2c4755;
  font-size: 25px;
}
@media (max-width: 767px) {
  .contact .container header {
    margin-bottom: 20px;
  }
  .contact .container header h2 {
    font-size: 4em;
  }
  .contact .container header p {
    font-size: 15px;
  }
  .contact .container .main-section .feel-free {
    font-size: 1.5em;
    margin: 0px auto 5px;
  }
  .contact .main-section div a {
    font-size: 1.5em;
  }
  .contact .main-section .p-social {
    width: 100%;
  }
  .contact .container .main-section div:nth-child(3) {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact .container header {
    margin-bottom: 20px;
  }
  .contact .container header h2 {
    font-size: 5em;
  }
}
/* end  section contact */
/* start  footer   */
footer {
  width: 100%;
  height: 10vh;
  background-color: #2c4755;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  font-size: 20px;
  text-transform: capitalize;
  color: white;
  font-weight: 600;
}
footer span {
  color: #10cab7;
  font-weight: 700;
}
/* end  footer  */
